// - views/partials/footer
footer
    div.footer-content
        section.contact-info
            h2.footer-heading Contact
            address
                strong Uma's Tasks&reg;
                br
                | 200 Union St SE
                br
                | Minneapolis, MN 55455
                br
                | &#x1F4DE;
                a.footer-link(href="tel:3202916949") 320-291-6949
                br
                |
                a.footer-link(href="mailto:detol001@umn.edu") detol001@umn.edu

        section.social-links
            h2.footer-heading Connect
            div.icon-container
                a(href="https://www.linkedin.com/in/gustavo-sakamoto-de-toledo-3120a0240/"
                    aria-label="Visit our LinkedIn profile")
                    img.icon(src="/images/linkedIn_PNG16.png" alt="LinkedIn")
                a(href="mailto:detol001@umn.edu"
                    aria-label="Send us an email")
                    img.icon(src="/images/Gmail-logo-design-on-transparent-background-PNG.png"
                        alt="Email")
                a(href="https://github.com/GroodInWar"
                    aria-label="Check out our GitHub repository")
                    img.icon(src="/images/github-mark.png" alt="GitHub")

        section.copyright
            p
                | &copy; 2025 Uma's Tasks®. All rights reserved.
                br
                small Proudly developed by students